//=== Main ====================================
//=============================================

.item-details {

    margin-top: 30px;

    .item-title, .item-author {
        @extend .center-on-small-only;
    }

    .tag-container {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .item-description-container {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .related-section-title {
        font-size: $h5-fontsize;
        font-weight: bold;
        line-height: 100%;
    }

    .collapsible-header {
        @extend .center-on-small-only;

        font-weight: bold;
    }

}